.inputs a {
    color: #ffffffc3;
}


#info {
    background-color: var(--bg-dim);
    color: rgba(255, 255, 255, 0.526);
    padding: 12.5px;
    margin: 0;
    white-space: pre-line;
    border-left: 2px solid black;
    line-height: 20px;
}

#linebreak {
    width: 90%;
    margin: auto;
}



.inputs {
    width: 100%;
    max-width: 400px;
    background-color: var(--bg-dim);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    z-index: 999;
}


.selections {
    background-color: black;
}

.inputs button {
    border-radius: 0;

}

#top-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding-bottom: 15px;
}


textarea {
    /* KEEP BELOW, safari does weird stuff */
    border-radius: 0; 
    border: none;
    border-left: 2px solid black;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding: 30px;
    padding-top: 0;
    font-size: 16px;    
    background-color:  var(--bg-dim);
    color: #E1E2E3;
    font-family: 'Courier New', monospace;
}


textarea:focus {
    outline: none;
}


.selected {
    background-color: var(--bg-dim);

    color: rgba(255, 255, 255, 0.538);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: none;
    z-index: 999;
    position: relative;
    top: 1px;
}

.selected:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: none;
}


@media (max-width: 968px) {
    .inputs {
        height: 400px;
        border-right: 5px solid black;
        border-bottom: 5px solid black;
    }

}