

#logo {
    height: 25px;
}


header#navbar {
    width: 100vw;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 60px; 
    flex-shrink: 0;
    position: relative;
    z-index: 999;
}


header#navbar > div {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header#navbar h1 {
    font-weight: 600;
}


/* media queries  */

@media (max-width: 450px) {

    header#navbar {
        justify-content: center;
    }

    .header#navbar-icons {
        display: none;
    }
}