.side-tab a {
    color: #ffffffc3;
}

.side-tab button {
    border-radius: 0;
}


.side-tab {
    width: 400px;
    /* max-width: 400px; */
    background-color: var(--bg-dim);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    z-index: 999;
    color:#ffffffc3;
}


