.card-container {
    display: flex;
    height: 75px;
    width: 300px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 15px;
    transition: all 0.35s;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolute positioning */
    overflow: hidden;
}

.card-container img {
    width: 40px;
    margin: auto;
    transition: all 0.35s;
}

.card-container #vertical-div {
    width: 2px;
    height: 85%;
    background-color: white;
    transition: all 0.35s;
}

.card-container h1 {
    font-size: 18px;
    line-height: 28px;
    width: 220px;
    text-align: center;
    transition: all 0.35s ease;
    z-index: 1;
}

.card-container:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 50px 0px #74d762a1;
    scale: 1.05;
    border-radius: 25px;
}

.card-container:hover img,
.card-container:hover #vertical-div {
    opacity: 0;
    transform: scale(0);
}

/* Move h1 to center absolutely on hover */
.card-container:hover .title {
    top: 50%;
    left: 50%;
    transform: translate(-18%, 0%);
    font-size: 22px;
}
