
.display-controls {
    position: absolute;
    right: 0px;
    opacity: .2;
    z-index: 2;
    background-color: black;
    position: absolute;

}

.display-controls button p {
    text-align: center;
    line-height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
}


.display-controls button {
    margin: 0;
    width: 30px;
    height: 30px;
    border-top: none;
    border-left: 2px solid black;
}


.display-controls>button {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.display-controls button:hover {
    background-color: #eee;
    color: black;
    border: 1px solid black;
}

#fullscreen-btn svg{
    margin: auto;
    cursor: pointer;
}