.sorting-vis .side-input {
    height: calc(100vh - 59px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.sorting-vis .side-input #top-inputs {
    overflow: scroll;
}




.sorting-vis .side-input+header {
    height: 100px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 95%;
    margin: auto;
    height: 40px;
    margin-bottom: .3rem;
}



.sorting-vis .side-input header h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sorting-vis textarea {
    border-radius: 0; 
    border: none;
    width: 100%;
    height: 50vh;
    padding: 25px;
    padding-top: 10px;
    font-size: 16px;    
    background-color:  var(--bg-dim);
    color: #E1E2E3;
    font-family: 'Courier New', monospace;
    
}
#top-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding-bottom: 15px;
}


textarea:focus {
    outline: none;
}



.sorting-vis .stats p:first-child {
    width: 60%;
}

.sorting-vis .stats p, .sorting-vis .stats img {
    padding-right: 1px;
}

.sorting-vis .stats {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.sorting-vis .stats div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sorting-vis .complexity {
    max-height: 24px;
    height: 100%;
}

.sorting-vis button {
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    text-align: center;
    width: 100%;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.sorting-vis .side-tab #algo-desc {
    transition: all .5s;
    padding: 15px;
    color: rgba(255, 255, 255, 0.526);
    line-height: 18px;
}
input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    width: 100%;
    border-radius: 0px;
    background: #ffffffc3;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: background 0.3s ease;
}


.sorting-vis .setting {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
}

.sorting-vis .side-tab .text-area-wrapper {
    width: 98%;
    max-height: calc(100% - 275px);
    height: 100%;
    margin: auto;
}


@media (max-width: 1000px) {
    .display-controls {
        bottom: 0;
    }
}
@media (max-width: 450px) {
    .sorting-vis .side-tab {
        width: 100vw !important;
        height: 425px !important;
        border-top: 5px solid black;
        top: 60px;
        z-index: 99;
        margin: 0;
    }

    .sorting-vis textarea {
        min-height: 150px;
        overflow: scroll;
    }


}