.selection-input p {
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.146);
}

.selection-input p:hover {
    background-color: white;
    color: black;
}
.selection-input{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
    margin: auto;
    width: 100%;
    padding: 10px;
    padding-top: 5px;
}

.selection-input .selected {
    width: 100% !important;
    font-weight: 600;
    font-size: 18px !important;
    background-color: black !important;
    color: white !important;
}
